networks:
  internal:
  external:

volumes:
  minio-data:

services:
  rais:
    image: docker.io/uolibraries/rais:4-alpine
    environment:
      RAIS_S3_ENDPOINT: minio:9000
      RAIS_S3_DISABLESSL: true
      RAIS_S3_FORCEPATHSTYLE: true
      RAIS_LOGLEVEL: DEBUG
      RAIS_SCHEMEMAP: test=s3://rais other=s3://xxx
      AWS_ACCESS_KEY_ID: access-key
      AWS_SECRET_ACCESS_KEY: secret-key
      AWS_SESSION_TOKEN:
      AWS_REGION: us-west-2
    networks:
      internal:

  s3demo:
    build:
      context: ..
      dockerfile: ./s3demo/Dockerfile
    depends_on:
      - minio
      - rais
    environment:
      RAIS_S3_DEMO_BUCKET: rais
      RAIS_S3_ENDPOINT: minio:9000
      RAIS_S3_DISABLESSL: true
      RAIS_S3_FORCEPATHSTYLE: true
      AWS_ACCESS_KEY_ID: access-key
      AWS_SECRET_ACCESS_KEY: secret-key
      AWS_SESSION_TOKEN:
      AWS_REGION: us-west-2
    networks:
      internal:

  web:
    image: docker.io/nginx:1.15
    depends_on:
      - rais
      - s3demo
    networks:
      internal:
      external:

  # minio for testing against a local S3-compatible API
  minio:
    build:
      dockerfile: Dockerfile-minio
    volumes:
      - minio-data:/data
    command: minio server /data --console-address :9001
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: "admin123"
    networks:
      internal:
      external:
