##### REQUIRED

# **NOTE**: If you use minio, you don't need to mess with this

# S3 configuration - this stuff must be specific to your setup!
RAIS_S3_DEMO_BUCKET=rais
RAIS_S3_ENDPOINT=minio:9000
RAIS_S3_DISABLESSL=true
RAIS_S3_FORCEPATHSTYLE=true
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=secretkey
AWS_SESSION_TOKEN
AWS_REGION=us-west-2

##### OPTIONAL

# In-memory caching is disabled here to help test timing, but can be enabled to
# provide a smoother demo
RAIS_TILECACHELEN=0
RAIS_INFOCACHELEN=0

# DEBUG logs by default because I love watching lines scroll by in my terminal
RAIS_LOGLEVEL=DEBUG
