[Unit]
	Description=RAIS image server
	After=sysinit.target
	StartLimitIntervalSec=0

[Service]
	Type=simple
	ExecStart=/usr/local/rais/rais-server
	Restart=on-failure
	RestartSec=5
	StartLimitBurst=5
	StartLimitIntervalSec=0

[Install]
	WantedBy=multi-user.target
